*{
  border-radius: 5px;
}

:root{    
  --basic-text-color: #000;
  --basic-background-color: #FFC;
  --display-color: #0D4;
}

.btn:hover{
  --basic-text-color: #FFF;
  --basic-background-color: #555;  
}


.calc {      
  display: table;
  background-color: var(--basic-background-color);
  border: 1px solid #999;
  padding: 5px 0px 5px 5px;  
  max-width: 300px;
  margin: 0 auto;
}

.historico {
  overflow: auto;
  position: relative;
  border: 1px solid #999;    
  height: 100px;
  background-color: var(--display-color);
  margin-right: 5px;
  margin-left: 1px;
  padding: 1px 1px 1px 1px;
}

.result {
  border: 1px solid #999;    
  background-color: var(--display-color);
  position: relative;
  bottom: 0px;
  right: 0;
  height: 32px;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  padding: 1px 1px 1px 1px;
  margin: 0px 5px 0 1px;
}

.numbersPad {
  float: left;
  display: table;
  background-color: var(--basic-background-color);  
  padding: 2px 2px 2px 2px;    
}

.row {
  display: table-row;
}

.operatorsPad { 
  float: left;
  display: inline-block;    
  /*border: 1px solid #0F0;*/
  padding: 2px 2px 2px 2px;  
  vertical-align: top;
}

.btn {
  --font-size: 24px;
  --btn-width: 34px;
  --btn-margin: 4px;
  --basic-background-color: #FFF;

  background: var(--basic-background-color);
  border: 1px solid #999;
  float: left;
  color: var(--basic-text-color);
  font-size: var(--font-size);
  font-weight: bold;  
  height: 34px;    
  margin: var(--btn-margin) var(--btn-margin) 0 0;
  padding: 0px 0px 0px 0px;
  text-align: center;    
}

.btn-double-height{
  height: calc(68px + var(--btn-margin));  
}

.btn-1 {  
  width: var(--btn-width);
}
 
.btn-2 {  
  width: calc( var(--btn-width) * 2 + calc(var(--btn-margin) * 1));
}

.btn-3 {  
  width: calc( var(--btn-width) * 3 + calc(var(--btn-margin) * 2));
}

.btn-4 {  
  width: calc( var(--btn-width) * 4 + calc(var(--btn-margin) * 3));
}

.btn-equal{
  color: #00BE00;
}

.btn-clr{
  color: #950000;  
}